﻿.multi_gallery{
	height:0;
}
.MG-container{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
/*
 *VIEWPORT
 */
.MG-container .MG-viewport{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
.MG-container .MG-viewport .MG-inner-container{
	position:absolute;
	width:auto;
	height:100%;
	-webkit-transition: left 1s; /* For Safari 3.1 to 6.0 */
	transition: left 1s;
}
.MG-container .MG-viewport .MG-inner-container img{
	float:left;
}
/*
 * CONTROLS 
 */
.MG-container .MG-controls{
	position:relative;
	z-index:50;
	bottom:50px;
	height:50px;
}
.MG-container .MG-controls .MG_prev,
.MG-container .MG-controls .MG_next{
	position:absolute;
	width:50px;
	height:50px;
	overflow:hidden;
	background:red;
}
.MG-container .MG-controls .MG_prev{
	left:0;
}
.MG-container .MG-controls .MG_next{
	right:0;
}
/*
 * TEXT BEFORE/AFTER
 */
.MG-text-after, .MG-text-before{
	
}