﻿.multi-gallery-options-table{
	max-width:50%;
}
.MG-table-header{
	text-align:center;
	font-size:120%;
}
.MG-full-size{
	width:100%;
}
.MG-button{
	font-size:150% !important;
	text-align:center !important;
	width:100% !important;
	height:auto !important;
	background-color:#2EA2CC !important;
	border-color: #000 !important;
	padding:25px 20px !important;
	margin: 25px 0 !important
}
.MG-description{
	font-size:130% !important;
	padding:10px 0;
}